<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user" method="post">
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br>

    <label for="amount">Amount:</label><br>
    <input type="text" id="amount" name="amount"><br>

    <label for="currency">Currency:</label><br>
    <input type="text" id="currency" name="currency"><br>

    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description"><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>